# Garbage (ignored everywhere)
*.map
*.db

# Ignoring everything at the root of the project
/*

# Project files
!/.gitignore
!/config.js
!/server.js
!/package.json
!/README.md

# Project folders
!/dev
!/dist
