* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.root {
  height: 100vh;
  width: 100vw;
  background: #313233;
}

.debug {
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 5px;
  background: rgba( 0, 0, 0, .5 );
  color: white;
  font-family: monospace;
  user-select: none;
}

.controls {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.direction-control {
  position: fixed;
  bottom: 10px;
  width: 200px;
  height: 200px;
  background: rgba( 255, 255, 255, .3 );
}

.direction-control::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 1px dashed white;
}

.direction-control::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  border-left: 1px dashed white;
}

.direction-control > * {
  pointer-events: none;
}

.direction-control-info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  font-family: monospace;
  font-size: 8px;
  user-select: none;
  color: black;
}

.direction-control-pointer {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50%;
  transform: translate( -50%, -50% );
  background: rgba( 0,0,0, .3 );
}